body {
  background-color: #fff;
  margin: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50 auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  font-size: 5rem;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #11999E;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
  font-size: 20px;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 1rem;
  padding: 20px 0;
}

hr {
  border: dotted #e4f9f5 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}

.middle-container {
  margin: 100px auto;
  background: #fff;
}

.bottom-container {
  font-family: 'Raleway', sans-serif;
  background: #66Bfbf;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p {
  line-height: 2;
}

.i2 {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.i1 {
  width: 20%;
}

.social {
  width: 3%;
}

.instagram {
  width: 1.5%;
  margin: 0;
  padding-top: 60px;
}

.i3 {
  width: 20%;
  float: right;
  margin-left: 30px;
}


.btn {
  color: #1e90ff;
  font-family: 'Raleway', sans-serif;
  background: none;
  font-size: 25px;
  text-decoration: none;
}

.btn:hover {
  color: #66BFBF;
  border-bottom: 1px solid #66BFBF ease-in-out;
}
.link{
  color: dodgerblue;

}
.line:hover{
  color: #844685;
}
.i5 {
  width: 22%;
  float: left;
  margin-right: 30px;
}
.i6 {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.website{
  color:#000;
}
.website:hover{
  color: dodgerblue;
}
h4{
  color: dodgerblue;
  cursor: pointer;
}
h4:hover{
  color: #66bfbf;
}
.black
{
  color: #000;
}
